@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 235, 239, 240;
  --background-end-rgb: 255, 255, 255;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  @apply scroll-smooth;
  max-width: 100vw;
  font-family: 'League Spartan', sans-serif;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: 'League Spartan';
  src: local('League Spartan'), url(../../public/fonts/LeagueSpartan-VariableFont_wght.ttf) format('truetype');
}

@font-face {
  font-family: "burtons";
  src: url(../../public/fonts/Burtons.otf);
}

table tr td:first-child {
  width: 100px;
}

.logos {
  width: 100%;
  aspect-ratio: 3/1;
  object-fit: contain;
}

.skill .skill-logo {
  width: 45%;
  aspect-ratio: 3/2;
  object-fit: contain;
}
